
section{
    padding: 25px 0px;
}

section#section1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


section#section1 .left{
    flex-basis: 70%;
}


section#section1 .right{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


section#section1 .right button {
    margin-top: 20px;
    background: #F61353;
    border: none;
    color: white;
    height: 50px;
    width: 250px;
    font-size: 1.5em;
    cursor: pointer;
}

section#section1 .left h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    text-overflow: ellipsis;
    margin-right: 50px;
}

section#section1 .right h3{
    font-size: 1.5em;
    font-weight: 500;
}

section#image{
    padding: 0;
}

section#image img{
    width: 100%;
}


section#section2{
    display: flex;
    
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
}

section#section2 h2{
    text-align: center;
    font-size: 3rem;
}

section#section2 h3{
    margin-top: 1em;
    width: 60%;
    text-align: center;
}



/* section#section2 img{
    width: 60%;
} */

section#image h6{
    letter-spacing: -1px;
    font-size: 200px;
    background-size: cover;
    background-clip: text; 
    color: transparent;
    font-weight: 900;
    transform: scaleY(2);
    text-align: center;
    text-decoration: none;
}


/* section#section2 h6{
    background: url("https://c1.wallpaperflare.com/preview/448/284/997/dark-night-party-concert.jpg") repeat;
    font-size: 100px;
    font-family: 'Vina Sans', sans-serif;
    background-repeat: no-repeat;
    background-clip: text; 
    color: transparent;
    font-weight: 900; 
    transform: scale(5, 5);;
    text-align:justify;
    letter-spacing: -1px;

} */



section#section3 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#section3 .container .box{
    margin: 1em;
    border-top: #474747 solid 5px;
    background-color: #333333;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    transition: 0.1s ;
    
}

section#section3 .container .box:hover{
    border-top: #F61353 solid 5px;
}

section#section3 .container .box .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #474747;
    height: 5em;
    width: 5em;
    border-radius: 50px;
    margin: 1em;
    margin-left: 0;
}

section#section3 .container .box .icon span{
    font-size: 36px;
}

section#section3 .container .box h3{
    margin: 1em;
    margin-left: 0;
}


section#section3 .container .box p{
    margin: 1em;
    margin-left: 0;
    color: #8b8b8b;
}

/* slider */


.slider {
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    left:0;
    right: 100;
    background: gainsboro;
}

.slider::before, .slider::after {
    content: "";
    position: absolute;
    width: 330px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
}
.slider .slide {
    color: black;
    width: 330px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#section4 ul{
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


section#section4 .box{
    width: 230px;
    margin: 1em;
}

section#section4 .top img{
    width: 100%;
}

section#section4 .bottom h3{
    font-size: 1.5rem;
    color: #FFF;
}

section#section4 .bottom .desc{
    font-size: 0.8rem;
    color: #858585;
}

section#section4 .bottom .datedeb{
    font-size: 0.8rem;
    color: #F61353;
}


section#section5 ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

section#section5 .box{
    width: 230px;
    margin: 1em;
}

section#section5 .top img{
    width: 100%;
}

section#section5 .bottom h3{
    font-size: 1.5rem;
    color: #FFF;
}

section#section5 .bottom .desc{
    font-size: 0.8rem;
    color: #858585;
}

section#section5 .bottom .datedeb{
    font-size: 0.8rem;
    color: #F61353;
}