<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FestIUTo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/flash.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

	<script src="https://unpkg.com/htmx.org@1.9.9"></script>
    {% block head %}

	{% endblock %}
</head>
<body>
    <nav>
		<div class="logo-menu">
			<svg viewBox="0 0 24 24"><path id="primary" d="M17,5.15a23.88,23.88,0,0,1-3.27-2.84,1,1,0,0,0-1.09-.24A1,1,0,0,0,12,3V13.76a4.5,4.5,0,1,0,2,3.74V5.34a15.88,15.88,0,0,0,1.9,1.49c.83.54,1.57,1.41.74,3.85A1,1,0,0,0,17.27,12a1,1,0,0,0,1.27-.63C19.49,8.5,19,6.43,17,5.15Z"></path></svg>
			<h1>FEST<span>IUT</span>'O</h1>
		</div>
		<button type="button" class="btn-hamburger" data-action="nav-toggle">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</button>

		<ul class="nav-menu">
			<li class="nav-item"><a href="{{url_for('index')}}">ACCUEIL</a></li>
			<li class="nav-item"><a href="{{url_for('programmation')}}">PROGRAMMATION</a></li>
			<li class="nav-item"><a href="{{url_for('billetterie')}}">BILLETTERIE</a></li>
            <li class="nav-item"><a href="{{url_for('groupe')}}">GROUPE</a></li>

			

			<li class="connexion-menu mobile">

				{% if current_user.is_authenticated %}
				
				<div class="nav-item dropdown dropdown-mobile">
					
					<a data-action="dropdown-toggle-mobile">{{ current_user.prenomV.upper() }}</a>
	
					<div class="line"></div>
	
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{url_for('profil')}}">Voir mon profil</a>
						<a class="dropdown-item" href="{{url_for('billets')}}">Voir mes billets</a>
						{% if current_user.admin %}
							<a class="dropdown-item" href="{{url_for('admin.index')}}">Administration</a>
						{% endif %}
						<a class="dropdown-item" href="{{url_for('logout')}}">Se déconnecter</a>
					</div>
				</div>
				{% else %}
					<a href="{{url_for('connexion')}}">SE CONNECTER</a>
					<div class="line"></div>
				{% endif %}
	
			</li>
		</ul>

        <div class="connexion-menu desktop">

			{% if current_user.is_authenticated %}
			
			<div class="nav-item dropdown dropdown-desktop">
				
				<a data-action="dropdown-toggle-desktop">{{ current_user.prenomV.upper() }}</a>

				<div class="line"></div>

				<div class="dropdown-menu">
					<a class="dropdown-item" href="{{url_for('profil')}}">Voir mon profil</a>

					<a class="dropdown-item" href="{{url_for('billets')}}">Voir mes billets</a>
					{% if current_user.admin %}
						<a class="dropdown-item" href="{{url_for('admin.index')}}">Administration</a>
					{% endif %}
					<a class="dropdown-item" href="{{url_for('logout')}}">Se déconnecter</a>
				</div>
			</div>
			{% else %}
				<a href="{{url_for('connexion')}}">SE CONNECTER</a>
				<div class="line"></div>
			{% endif %}

        </div>
	</nav>



	<main>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		  <ul class=flashes>
		  {% for category, message in messages %}
			<li class="alert alert-{{category}}">
				<div class="main">{{ message }}</div>
				<div class="emptyprogressbar">
					<div class="progressbar"></div>
				</div>
			</li>
		  {% endfor %}
		  </ul>
		{% endif %}
	{% endwith %}
    {% block main %}
	

	
    {% endblock %}
	</main>
	<footer>
		<div class="container">
			<ul>
				<li>LOREM IPSUM</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
			</ul>
			<ul>
				<li>LOREM IPSUM</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
			</ul>
			<ul>
				<li>LOREM IPSUM</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
			</ul>
			<ul>
				<li>LOREM IPSUM</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
			</ul>
			<ul>
				<li>LOREM IPSUM</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
			</ul>
			<ul>
				<li>LOREM IPSUM</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
				<li>DOLOR SIT AMET</li>
			</ul>
		</div>
	</footer>

	<script>
		let nav = document.querySelector('nav');

		// DROPDOWN DESKTOP

		let dropdownDesktop = nav.querySelector('.dropdown-desktop');
		let dropdownToggleDesktop = nav.querySelector("[data-action='dropdown-toggle-desktop']");

		if (dropdownToggleDesktop != null) {
			dropdownToggleDesktop.addEventListener('click', () => {
				if (dropdownDesktop.classList.contains('show')) {
					dropdownDesktop.classList.remove('show');
				} else {
					dropdownDesktop.classList.add('show');
				}
			})
		}

		// DROPDOWN MOBILE

		let dropdownMobile = nav.querySelector('.dropdown-mobile');
		let dropdownToggleMobile = nav.querySelector("[data-action='dropdown-toggle-mobile']");
		
		if (dropdownToggleMobile != null) {
			dropdownToggleMobile.addEventListener('click', () => {
				if (dropdownMobile.classList.contains('show')) {
					dropdownMobile.classList.remove('show');
				} else {
					dropdownMobile.classList.add('show');
				}
			})
		}

		// RESPONSIVE NAV
		
		let navToggle = nav.querySelector("[data-action='nav-toggle']");

		navToggle.addEventListener('click', () => {
			if (nav.classList.contains('opened')) {
				nav.classList.remove('opened');
			} else {
				nav.classList.add('opened');
			}
		})


		// FLASH MESSAGE

		function move(element){
			let width = 100;
			let id = setInterval(frame, 30);
			function frame() {
				if (width <= 0) {
					clearInterval(id);
					element.remove();
				} else {
					width--;
					element.querySelector('.progressbar').style.width = width + '%';
				}
			}
		}

		let flashes = document.querySelectorAll('.flashes li');

		window.addEventListener('load', () => {
			flashes.forEach(flash => {
				move(flash);
			})
		})


	</script>
</body>
</html>