{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/billetterie.css')}}">

{% endblock %}
{% block main %}


<div class="container">
    <section>
        <h1 class="title">BILLETTERIE</h1>
    </section>

    <section id="intersection">
        <h3 class="title">BILLETS CLASSIQUES</h3>
        <div class="ligne"></div>
    </section>

    <section>
        <ul class="ticket-container">
            {% for type_billet in type_billets %}
            <form action="{{url_for('achat')}}">
                <li class="ticket-box">
                        <div class="main-box">
                            <input type="hidden" name="idTb" value="{{type_billet.idTb}}">
                            <h3>{{type_billet.nomB}}</h3>
                            <p>{{type_billet.prix}}€</p>
                            {% if type_billet.duree == None %}
                            <p>Tous le festival</p>
                            {% else %}
                            <input type="date" name="dateDebutValidite" value="{{ debut }}" min="{{ debut }}" max="{{ fin }}">
                            {% endif %}
                        </div>
                        <button type="submit">ACHETER</button>
                </li>
            </form>
            {% endfor %}
        </ul>
    </section>
</div>


{% endblock %}