{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/billetterie.css')}}">

{% endblock %}
{% block main %}


<div class="container">
    <div>
        <h1>BILLETTERIE</h1>
    </div>

    <div>
        <p>Vous pouvez acheter vos billets en ligne :</p>
    </div>

    <div>
        <h2>Types de billets disponibles :</h2>
        <ul class="ticket-container">
            {% for type_billet in type_billets %}
                <li class="ticket-box">
                    <form action="{{url_for('achat')}}">
                        <input type="hidden" name="idTb" value="{{type_billet.idTb}}">
                        <h3>{{type_billet.nomB}}</h3>
                        <p>{{type_billet.prix}}€</p>
                        <input type="date" name="dateDebutValidite" value="{{ debut }}" min="{{ debut }}" max="{{ fin }}">
                        <button type="submit">Acheter</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}