{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/groupe.css')}}">
<script src="https://unpkg.com/htmx.org@1.9.9"></script>
{% endblock %}


{% block main %}




<section>
    <h1 class="title">GROUPE</h1>
</section>



<section id="results">

{% block results %}

    <form hx-get="/groupe" hx-target="#results" hx-trigger="keyup changed delay:500ms from:#myinput, change from:#style-select, myEvent from:document" id="recherche">
        <input type="text" class="input" placeholder="Rechercher un groupe..." id="myinput" name="q" value="{{query}}">
        <select name="style" id="style-select">
                <option value="all">Tous les styles</option>
                {% if current_user.is_authenticated %}
                    {% if selected == 'fav' %}
                        <option value="fav" selected>Mes favoris</option>
                    {% else %}
                        <option value="fav">Mes favoris</option>
                    {% endif %}
                {% endif %}
                {% for style in styles %}
                    {% if style.nomS == selected %}
                        <option value="{{style.nomS}}" selected>{{style.nomS}}</option>
                    {% else %}
                        <option value="{{style.nomS}}">{{style.nomS}}</option>
                    {% endif %}
                
                {% endfor %}
        </select>
    </form>

    <ul class="suggestion">
        {% if suggestions | length >= 1 %}
            <h3>Dans le même style : </h3>
        {% endif %}
        {% for suggestion in suggestions %}
            <li hx-get="/groupe?q={{query}}&style={{suggestion.nomS}}" hx-trigger="click" id="recherche" hx-target="#results">
                {{suggestion.nomS}}
            </li>
        {% endfor %}
    </ul>

    <div class="container">
    {% for groupe in groupes %}
        <div class="box">
            <div class="left">
                {% for photo in photos %}
                    {% if photo.idG == groupe.idG and photo.pos == 1 %}
                        <img src="{{ photo.urlPh }}" alt="{{groupe.nomG}}" width="100%" height="100%">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="right">  
                <div class="header">
                    <h3>
                        {{groupe.nomG}}
                    </h3>
                    {% if current_user.is_authenticated %}
                        {% set ns = namespace(found=false) %}
                        {% for favori in favoris %}
                            {% if favori.idG == groupe.idG %}
                                {% set ns.found = true %}
                            {% endif %}
                        {% endfor %}
                        {% if ns.found %}
                            <div hx-get="/unfav/{{groupe.idG}}" hx-trigger="click" hx-swap="outerHTML" id="divfav" > <div class="fas fa-star stars"></div></div>
                        {% else %}
                            <div hx-get="/fav/{{groupe.idG}}" hx-trigger="click" hx-swap="outerHTML" id="divfav" > <div class="far fa-star stars"></div></div>
                        {% endif %}
                    {% endif %}
                </div>
                <p>
                    {{groupe.descriptionG}}
                </p>
                <ul class="style">
                {% for poss in posseder %}
                    {% if poss.idG == groupe.idG %}

                        {% for style in styles %}
                            {% if style.idS_1 == poss.idS %}
                                <li>{{style.nomS}}</li>
                            {% endif %}
                        {% endfor %}

                    {% endif %}
                {% endfor %}
                </ul>
                <ul class="reseau">
                    {% for rs in lien_rs|sort(attribute='pos') %}
                        {% if rs.idG == groupe.idG %}
                                <!-- <p>{{rs.pseudo}}, {{rs.urlReseau }}, -->
                                {% for reseau in reseau_social %}
                                    {% if reseau.idRs == rs.idRs %}
                                        <li>
                                            <a class="nav-link px-2"  target="_blank" href="{{rs.urlReseau }}">
                                                {%if reseau.nomReseau == 'Facebook' %}
                                                    <i class="fab fa-facebook"></i>
                                                {%endif%}
                                                {%if reseau.nomReseau == 'X' %}
                                                    <i class="fab fa-twitter"></i>
                                                {%endif%}
                                                {%if reseau.nomReseau == 'Instagram' %}
                                                    <i class="fab fa-instagram"></i>
                                                {%endif%}
                                                {%if reseau.nomReseau == 'Youtube' %}
                                                    <i class="fab fa-youtube"></i>
                                                {%endif%}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <button hx-get="/details/{{ groupe.idG }}" value="test" hx-target="body" hx-swap="beforeend">VOIR PLUS</button>
            </div>
    <!-- 
            {# <ul>
            <h4>Artistes :</h4>
            {% for artiste in artistes %}
                {% if artiste.idG == groupe.idG %}
                    <li> - {{artiste.nomA}}</li>
                {% endif %}
            {% endfor %}
            </ul>
            <ul>
            <h4>Reseaux : </h4>
            {% for rs in lien_rs|sort(attribute='pos') %}
                {% if rs.idG == groupe.idG %}
                    <li>
                        <p>{{rs.pseudo}} ,{{rs.pos}}, {{rs.urlReseau }},
                        {% for reseau in reseau_social %}
                            {% if reseau.idRs == rs.idRs %}
                                {{reseau.nomReseau}}
                            {% endif %}
                        {% endfor %}
                        </p>
                    </li>
                {% endif %}
            {% endfor %}
            </ul> #} -->

        </div>
    {% endfor %}
    </div>

{% endblock %}
</section>

<script>
    function closeModal() {
        document.getElementById('modal').remove()
    }

    document.addEventListener('htmx:afterRequest', function(evt) {
        if (evt.detail.xhr.responseURL.includes('/unfav/')) {
            htmx.trigger('#recherche', 'myEvent');
        }
    });
</script>


{% endblock %}

{% block fav %}
<div hx-get="/unfav/{{id}}" hx-trigger="click" hx-swap="outerHTML" id="divfav" > <div class="fas fa-star stars"></div></div>
{% endblock %}

{% block unfav %}
<div hx-get="/fav/{{id}}" hx-trigger="click" hx-swap="outerHTML" id="divfav"> <div class="far fa-star stars"></div></div>
{% endblock %}