{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

{% endblock %}
{% block main %}


<section id="section1">
    <div class="left">
        <h1>LOREM IPSUM DOLOR SIT AMET NULLAM SODALE.</h1>
    </div>
    <div class="right">
        <h3>DISCOVER THE BEST LIVE MUSIC, TAILORED TO YOUR MUSIC TASTE </h3>
        <button>ACHETER</button>
    </div>


</section>

<section id="section2">
    <h1>ENCORE</h1>
</section>


{% endblock %}
