{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

{% endblock %}
{% block main %}



<section id="section1">
    <div class="left">
        <h1>UN FESTIVAL QUI ÉMERVEILLE PETITS ET GRANDS</h1>
    </div>
    <div class="right">
        <h3>DÉCOUVRIR LA MEILLEURE MUSIQUE EN DIRECT, ADAPTÉE À VOS GOÛTS MUSICAUX</h3>
        <button>ACHETER</button>
    </div>


</section>

<!-- <section id="section2">
    <h1>FESTIUT'O</h1>
</section> -->

<section id="intersection">
    <h3 class="title">NOS SERVICES</h3>
    <div class="ligne"></div>
</section>

<section id="section3">
    <div class="container">
        <div class="box">
            <div class="icon">
                <span class="material-symbols-outlined">
                    local_activity
                </span>
            </div>
            <h3>
                Facilite l'achat de billets
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tortor dictum, sagittis augue quis, porttitor arcu. Maecenas quis accumsan turpis, at vehicula leo. 
            </p>
        </div>

        <div class="box">
            <div class="icon">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
            </div>
            <h3>
                Recommandation
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tortor dictum, sagittis augue quis, porttitor arcu. Maecenas quis accumsan turpis, at vehicula leo. 
            </p>
        </div>

        <div class="box">
            <div class="icon">
                <span class="material-symbols-outlined">
                    star
                </span>
            </div>
            <h3>
                Systeme de favoris
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tortor dictum, sagittis augue quis, porttitor arcu. Maecenas quis accumsan turpis, at vehicula leo. 
            </p>
        </div>
    </div>



</section>


{% endblock %}
