{% extends "base.html" %}
{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='css/programmation.css')}}">

{% endblock %}
{% block main %}
    <section>
        <h1 class="title">PROGRAMMATION</h1>
    </section>

    <ul class="navprog">
        {% for jour in jours %}
            <li><a href="#{{jour}}">{{jour.strftime('%A %d %B').upper()}}</a></li>
        {% endfor %}
    </ul>

    {% for jour in jours %}
    <section id="intersection">
        <h3 class="title">{{jour.strftime('%A %d %B').upper()}}</h3>
        <div class="ligne"></div>
    </section>


    <section class="container jour" id="{{jour}}">
        
            {% for evenement in evenements %}
                
                {% if evenement.dateDebut.date() == jour %}
                
                <div onclick="location.href='/participe?idEv={{evenement.idEv}}'" class="box" id="{{evenement.idEv}}">
                    
                    
                    
                    {% for lieu in lieux %}
                        {% if evenement.idL == lieu.idL %}
                            <div class="top">
                                <h4 class="horaire">{{evenement.dateDebut.strftime('%H:%M')}}-{{evenement.dateFin.strftime('%H:%M')}}</h4>
                                <h4 class="lieu">{{lieu.nomLieu}}</h4>
                            </div>
                            <div class="center">
                                <h3 class="descr">{{evenement.descrEv}}</h3>
                                <h3 class="reservation">RÉSERVER</h3>
                            </div>
                            <div class="bottom">
                                {% if evenement.gratuit %}
                                    <h4 class="prix">GRATUIT</h4>
                                {% else %}
                                    <h4 class="prix">PAYANT</h4>
                                {% endif %}

                                {% for reservation in reservations %}
                                    {% if reservation.idEv == evenement.idEv %}
                                        <h4 class="places">{{reservation.nb}}/{{lieu.nbPlaces}} places</h4>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            
                        {% endif %}
                    {% endfor %}
                    
                </div>

                {% endif %}
                
            {% endfor %}

    </section>
    {% endfor %}











{% endblock %}